.footer{
    width:100%;
    margin: 0;
    background-color: #6a6a6a;
    
}
.footer-1{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 40px 0px;
}

.footer-1-1{
    width: 32%;
}

.footerLogoImg{
    width: 30%;
}

.footer-p1{
    color: #ababab;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
   font-weight: 500;
    line-height: 25px;
    
    margin: 10px 0px;
    width: 100%;
}

.footerLinkImgDiv{
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: 0.7s;
    height: auto;
}



.footerLinkImg{
    width:100%;
    
}

.footerLinkImgDiv-1{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.7s;
}
.footerLinkImgDiv-1:hover{
    background: rgba(0,0,0,0.4);
    transition: 0.7s;
}

.footerLinkImgDiv-1:hover .footerIconSpn1{
    transition: 0.7s;
    transform: translateY(0px);
    opacity: 1;
}

.footerIconSpn1{
    color:white;
    font-size: 35px;
    transition: 0.7s;
    transform: translateY(-15px);
    opacity: 0;
}

.footer-2{
    width: 100%;
    padding: 15px 0px;
    border-top: 1px solid white;
}

.footer-2p1{
    color: #ababab;
    font-size: 12px;
    line-height: 20px;
    font-family: 'PantonAM', 'sans-serif';
   
    font-weight: 300;
    margin: 10px 0px;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;

}

@media only screen and (min-width: 190px) and (max-width: 500px)  {
   .footer-1{
    display: block;
   }
   .footer-1-1{
    width: 100%;
    margin-top: 20px;
   }

   .footerLogoImg{
    width: 40%;
   }

   .footer-2p1{
    width: 90%;
    margin: 0 auto;
   }

   .footer-p1{
    font-size: 13px;
   }
 }
 
@media only screen and (min-width: 500px) and (max-width: 750px)  {
    .footer-1{
     display: block;
    }
    .footer-1-1{
     width: 100%;
     margin-top: 20px;
    }
 
    
 
    .footer-2p1{
     width: 90%;
     margin: 0 auto;
    }
 
    
  }
  @media only screen and (min-width: 750px) and (max-width:1050px)  {
    .footerLogoImg{
        width: 25%;
       }
    
    .footer-1{
     display: block;
    }
    .footer-1-1{
     width: 70%;
     margin-top: 20px;
    }
 
    
 
    .footer-2p1{
     width: 90%;
     margin: 0 auto;
    }
 
    
  }