@import url('./icons/style.css');

*{
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}
.App{
    background-color: black;
    
}

.G-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.G-appMainDiv{
    width:75%;
    max-width: 1850px;
}

.G-headerTag{
    color: white;
}



.G-mainHeader{
    color:white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
   font-weight: 500;
}

.G-textSelection::selection{
    background-color: black;
    color: white;
}

button{
    user-select: none;
}


@media only screen and (min-width: 190px) and (max-width: 500px)  {

    body{
     overflow-x: hidden;
    }
   
    .G-appMainDiv{
        width:90%;
        
    }


    .G-mainHeader{
        font-size: 25px;
    }


}

@media only screen and (min-width: 750px) and (max-width: 1300px)  {
    .G-appMainDiv{
        width:90%;
        
    }
}
